@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}

.gradient {
  background: linear-gradient(
    260.13deg,
    #5c1e03 22.59%,
    rgba(117, 6, 6, 0.540837) 109.46%
  );
}

.section {
  width: calc(67% - 7.5px);
}

.section2 {
  width: calc(30% - 7.5px);
}

.custom {
  -webkit-text-stroke: 2px white;
}

.custom2 {
  -webkit-text-stroke: 0.8px white;
}